* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
    font-family: norseBold;
    src: url(../Norse-Bold.otf);
}

.container {
    display: flex;
    min-height: 100vh;
}

.logo-container {
    flex: 1 2 30%;
    min-height: 100%;
    position: relative;
}

.form-container {
    flex: 2 1 70%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f9fafb;
}

.form-container .info-message,
.form-container .button-container {
    padding-left: 5%;
}

.info-message {
    flex: 1 1 35%;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    font: arial, monospace, sans-serif;
}

.info-message p:nth-child(2) {
    margin-bottom: 2%;
}

.info-message p:first-child {
    margin-top: 10%;
}

.info-message p:last-child {
    margin-bottom: 2%;
}

.info-message p {
    max-width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 2 0 65%;
}

.form-message {
    background-color: #FFF;
    padding: 2% 0 1% 5%;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.form-fields {
    display: flex;
    flex: 1 1 40%;
    gap: 5%;
    background-color: #FFF;
    box-shadow: 5px 5px 5px #e0e1e2;
    padding-left: 5%;
    width: 100%;
}

.form-fields label {
    letter-spacing: .2em;
    font-size: 12px;
    font-weight: 500;
}

.set-one,
.set-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.set-one input,
.set-two input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    flex: 1 1 0;
    min-height: 13%;
    margin-bottom: 7%;
    min-height: 0;
}

.set-one input:focus,
.set-two input:focus {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    box-shadow: 3px 3px 3px #e0e1e2;
    outline: none;
}

.button-container {
    flex: 1 1 60%;
}

.logo {
    display: flex;
    position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    top: 20%;
    overflow: hidden;
}

.logo img {
    max-width: fit-content;
    max-height: 75%;
}

.logo p {
    font-size: 84px;
    font-family: norseBold, monospace, sans-serif;
}

.logo-container img {
    width: 100%;
    height: 100%;
}