* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: norseBold;
    src: url(../Norse-Bold.otf);
}

.container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.logo-container {
    flex: 1 1 30%;
    position: relative;
}

.form-container {
    flex: 2 1 70%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.form-container .info-message,
.form-container .button-container {
    padding-left: 5%;
}

.info-message {
    flex: 1 1 35%;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    font: arial, monospace, sans-serif;
}

.info-message p:nth-child(2) {
    margin-bottom: 2%;
}

.info-message p:first-child {
    margin-top: 10%;
}

.info-message p:last-child {
    margin-bottom: 2%;
}

.info-message p {
    max-width: 80%;
    flex: 1 1 35%;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 2 0 65%;
}

.form-message {
    background-color: #FFF;
    padding: 2% 0 1% 5%;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.form-fields {
    display: flex;
    flex: 1 1 40%;
    gap: 5%;
    background-color: #FFF;
    box-shadow: 5px 5px 5px #e0e1e2;
    padding-left: 5%;
    width: 100%;
}

.form-fields label {
    letter-spacing: .2em;
    font-size: 12px;
    font-weight: 500;
}

.set-one,
.set-two {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.set-one input,
.set-two input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    flex: 1 1 0;
    margin-bottom: 7%;
    height: 10%;
    width: 100%;
    padding: 1em;
}

.set-one input:focus,
.set-two input:focus {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    box-shadow: 3px 3px 3px #e0e1e2;
    outline: none;
}

.set-one input:invalid,
.set-two input:invalid {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 3px 3px 3px #e0e1e2;
    outline: none;
}

.set-two input.invalid {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 3px 3px 3px #e0e1e2;
    outline: none;
}

.button-container {
    flex: 1 1 60%;
}

.button-container button {
    margin: 3% 0;
    background-color: #596D48;
    border: none;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    padding: 0em 3em;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 5px #e0e1e2;
}

.button-container button:hover,
.button-container button:active {
    background-color: #86ad64;
}

.button-container button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-container a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
    font-size: 18px;
}

.button-container a:hover,
.button-container a:active {
    color: #86ad64;
}

.logo {
    display: flex;
    position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    top: 20%;
    overflow: hidden;
}

.logo img {
    max-width: fit-content;
    max-height: 75%;
}

.logo p {
    font-size: 84px;
    font-family: norseBold, monospace, sans-serif;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .info-message {
        max-height: none;
        font-size: 24px;
    }
}