* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norseBold;
    src: url(../Norse-Bold.otf);
}

.container {
    display: flex;
    min-height: 100vh;
}

.logo-container {
    flex: 1 2 30%;
    min-height: 100%;
    position: relative;
}

.form-container {
    flex: 2 1 70%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f9fafb;
}

.form-container .info-message,
.form-container .button-container {
    padding-left: 5%;
}

.info-message {
    flex: 1 1 0;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    font: arial, monospace, sans-serif;
}

.info-message p:nth-child(2) {
    margin-bottom: 5%;
}

.info-message p:first-child {
    margin-top: 5%;
}

.info-message p {
    max-width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}

.form-message {
    background-color: #FFF;
    padding: 2% 0 1% 5%;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.form-fields {
    display: flex;
    flex: 1 1 0;
    gap: 5%;
    background-color: #FFF;
    box-shadow: 5px 5px 5px #e0e1e2;
    padding-left: 5%;
}

.set-one,
.set-two {
    display: flex;
    flex-direction: column;
}

.set-one input:nth-child(-n + 4),
.set-two input:nth-child(-n + 4) {
    margin-bottom: 15%;
}

.button-container {
    flex: 1 1 0;
}

.logo {
    display: flex;
    position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    top: 15%;
}

.logo img {
    max-width: fit-content;
    max-height: 75%;
}

.logo p {
    font-size: 84px;
    font-family: norseBold, monospace, sans-serif;
}

.logo-container img {
    width: 100%;
    height: 100%;
}